In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
#################################################
# Database Setup
#################################################
# Create an engine to connect to the PostgreSQL database
engine_postgres = create_engine("postgresql://postgres:POSTGRES@localhost:5432/Listings_db")

In [3]:
# Query data from PostgreSQL and load into Pandas DataFrames
listings_df = pd.read_sql("SELECT * FROM listings", engine_postgres)

# Now you have your data in Pandas DataFrames and can work with it as needed
listings_df.head()

,unique_identifier,listing_amount,amount_funded,lender_yield,borrower_apr,listing_term,listing_monthly_payment,income_range,income_range_description,stated_monthly_income,...,lender_indicator,group_indicator,fico_rating,tuficorange,dti_wprosper_loan,coborrowerapplication,combineddtiwprosperloan,combinedstatedmonthlyincome,rating_num,prosper_rating
0,0,17300,17300,0.1349,0.1683,60,406.95,6,"$100,000+",11250.0000,...,0,False,6,760-779,0.2377,True,0.2377,16250.0000,1,B
1,1,25000,25000,0.0999,0.1325,60,543.44,6,"$100,000+",15416.6667,...,0,False,6,760-779,0.2900,True,0.2900,22333.3333,0,A
2,2,3500,3500,0.1179,0.1641,36,117.58,4,"$50,000-74,999",4166.6667,...,0,False,3,700-719,0.0309,True,0.0309,7500.0000,1,B
3,3,5000,5000,0.0964,0.1422,36,162.84,4,"$50,000-74,999",5000.0000,...,0,False,1,660-679,0.1818,True,0.1818,8333.3333,0,A
4,4,21795,21795,0.0530,0.0795,36,666.01,6,"$100,000+",20000.0000,...,0,False,9,820-850,0.1816,True,0.1816,23833.3333,0,AA